@charset "UTF-8";
/* CSS Document */
body {
	background-color:#333;
	font-family:Drugs, Tahoma, Geneva, sans-serif;
	padding: 0px;
	margin: 0px;
}
.contactMain h1 {
	font-size: 30px;
}

.contact-buttons {
	/*list-style-type: none;
	background-color: red;
	text-align: center;
	width: auto;
	margin: auto;
	padding: 0px;*/
	width: 100%;
	list-style-type: none;
	line-height:20px;
}
.contact-buttons ul {
	margin-left: auto;
	margin-right: auto;
	width:100%;
}

.contact-buttons li {
	border-style: solid;
	border-size: 1px;
	border-color: #1B9AAA;
	color: #1B9AAA;
	margin: 10px;
	text-align: center;
	display:inline;
	padding: 10px;
}
.contact-buttons li a {
	display:inline-block;
	text-align: center;
}
.contact-buttons li a:hover:not(.active-contact) {
	background-color: #eee;
}

.button-container {
	margin: auto;
	width: 50%;
	padding: 10px;
	display: block;
}

